@import url('https://fonts.googleapis.com/css2?family=Forum&family=Mulish:wght@700&family=Raleway:wght@400;600&display=swap');

@font-face {
  font-family: 'SweetMavkaScript';
  src: url('../fonts/SweetMavkaScript.woff2') format('woff2'),
    url('../fonts/SweetMavkaScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
