*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdeb;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  color: var(--text-color);
  font-size: 26px;

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 12px;
    margin-right: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fffdeb;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--title-color);
    border-radius: 6px;
  }
}

img {
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a,
a:active,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 94px;
  line-height: 1.13;
  margin-bottom: 58px;
  color: #642400;
  color: #000;
  .accent-part {
    font-family: SweetMavkaScript;
    color: #b87c5a;
    text-transform: none;
  }
}

h2 {
  margin-bottom: 58px;
  font-size: 80px;
}

h4 {
  font-size: 38px;
  line-height: 1.4;
}

p + p {
  margin-top: 41px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--title-color);
}

@include media("lg") {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 54px;
  }
  h4 {
    font-size: 30px;
  }
}

@include media("md") {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 54px;
  }
  h4 {
    font-size: 24px;
  }

  p + p {
    margin-top: 20px;
  }
}

@include media("xxs") {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 34px;
  }
  body {
    font-size: 16px;
  }
}
